.row {
    display: flex;
    align-items: center;
    border: 1px solid #00473E;
    border-radius: 0.25rem;
	padding: 0.5rem;
}

.input-autocomplete {
    flex: 1;
    width: 200px!important;
    font-size: 15px;
    color: #475D5B;
    padding: 0;
    outline: 0;
    border: 0;
    background-color: var(--color-white);
}

.delete-search {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
}

.fa-close {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

.pos-rel {
    position: relative;
}

.auto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.result-box {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    border-radius: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #00473E;
    background-color: #fff;
    top: 42px;
    width: 220px;
}

.result-box span:hover {
    border-radius: 10px;
    padding: 2px 10px;
    background: #FAAE2B;
}

.proposal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 5px;
}

.proposal-item,
.auto-container span {
    font-size: 18px;
    text-transform: capitalize;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}