.search-button {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;

    border: none;
    border-radius: 0.3rem;

    background-color: var(--color-yellow);
    color: var(--color-black);
    font-size: 1rem;
    font-weight: bold;
}
.search-button:hover {
    background-color: var(--color-yellow-hover);
    cursor: pointer;
}

.search-button img { /* l'icon est de la mauvaise couleur */
    margin-right: 0.5rem;
}