.card {
	text-decoration: none;
}

.card article {
	background-color: var(--color-grey);
	border-radius: 1rem;
	color: var(--color-black);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 8px;
	margin: 1em auto;
	width: 80%;
}
.card article:hover {
	background-color: var(--color-grey-hover);
	cursor: pointer;
}
.stops .card article {
	height: 120px;
}
.transports .card article {
	height: 80px;
}

.card article > div {
	display: flex;
	align-items: center;
	width: 100%;
}


/* First line */

.card article > div:nth-child(1) {
	justify-content: space-between;
}

.card article > div:nth-child(1) img {
	height: 28px;
}

.card article > div:nth-child(1) > span {
	font-size: 1.2rem;
	font-weight: bold;
}


/* Second line */

.stops .card article > div:nth-child(2) {
	justify-content: flex-start;
}
.transports .card article > div:nth-child(2) {
	justify-content: center;
}

.card article > div:nth-child(2) > img {
	height: 18px;
	margin: 0 0.5rem;
}


/* Third line */

.card article > div:nth-child(3) {
	justify-content: space-around;
}