.transport-details {
	padding: 1rem;
	color: var(--color-black);
}

.schedule{
	margin: 50px 2rem;
}

.schedule > button {
	width: 200px;
}

.schedule-route {
	display: grid;

}

.schedule > table {
	margin-top: 25px;
}

.schedule > table,
td {
	border: 1px solid #333;
}

thead,
tfoot {
	background-color: #333;
	color: #fff;
}

/* INFOS */

.section-detail {
	margin: 0 2rem;
}

.section-detail > h1 {
	margin: 20px 0;
}

.transport-details section:nth-child(1) img {
	height: 50px;
}

.transport-details section:nth-child(1) span {
	color: var(--color-green);
	font-weight: bold;
	margin-right: 1rem;
}