.disturbance-card {
    text-decoration: none;
    margin: 20px;
}

.disturbance-card article {
    background-color: var(--color-grey);
    border-radius: 1rem;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8px;
    width: 50%;
}

.stops .disturbance-card article {
    height: 120px;
}
.transports .disturbance-card article {
    height: 80px;
}

/* First line */

.disturbance-card article > div:nth-child(1) {
    justify-content: space-between;
}

.disturbance-card article > div:nth-child(1) img {
    height: 28px;
}

.disturbance-card article > div:nth-child(1) > span {
    font-size: 1.2rem;
    font-weight: bold;
}


/* Second line */

.stops .disturbance-card article > div:nth-child(2) {
    justify-content: flex-start;
}
.transports .disturbance-card article > div:nth-child(2) {
    justify-content: center;
}

.disturbance-card article > div:nth-child(2) > img {
    height: 18px;
    margin: 0 0.5rem;
}


/* Third line */

.disturbance-card article > div:nth-child(3) {
    justify-content: space-around;
}