.form {
	position: sticky;
	top: 6em;
	right: 0;
	left: 0;
	padding: 1rem;

	z-index: 999;

	border-bottom: 3px solid var(--color-green);

	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: var(--color-white);
	color: var(--color-black);
}

.form > div {
	display: flex;
}

.form > div > div {
	margin-left: 10px;
	margin-right: 10px;
}

.form > div > input {
	background-color: var(--color-white);
	border: 1px solid var(--color-black);
	border-radius: 0.25rem;
	padding: 0.5rem;
	margin: 0 0.5rem;
}

.form input:focus {
	outline: none;
}

.form input:nth-child(1) {
	width: 45%;
}

.form input:nth-child(2) {
	width: 15%;
}

.form input:nth-child(3) {
	width: 20%;
}