header {
	background-color: var(--color-green);
	position: sticky;
	height: 6em;
	top: 0;
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 0 1rem;
	z-index: 999;
}

header h1 {
	color: var(--color-white);
	margin: 0;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a, header a:hover, header a:visited {
	color: var(--color-white);
	text-decoration: none;
	margin-left: 1rem;
	font-size: 1.2rem;
}
header a:hover {
	text-decoration: underline;
}