.stop-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6rem 5rem 0 5rem;
	position: relative;
}

.stop-list::before {
	content: "";
	display: block;
	position: absolute;
	right: 5rem;
	bottom: -2px;
	left: 5rem;

	border: 2px solid var(--color-MB);
}

.stop-list > div > .link-stop-area > div {
	position: relative;
}

.stop-list > div > .link-stop-area > div::before {
	content: "";
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	height: 1rem;
	width: 1rem;
	transform: translate(-0.5rem, -0.5rem);

	border-radius: 50%;
	background-color: var(--color-grey);
}
.stop-list > div > .link-stop-area > div:first-child::before, .stop-list > .link-stop-area > div:last-child::before {
	height: 1.6rem;
	width: 1.6rem;
	transform: translate(-0.8rem, -0.8rem);
}

.stop-list > div > .link-stop-area > div > p {
	position: absolute;
	top: -4rem;
	left: -1rem;

	height: 1rem;
	width: 6rem;
	margin: 0;
	padding: 0;
	transform: rotate(-45deg);

	color: var(--color-black);

	font-size: 0.8rem;
}