.summary-transport-type {
	position: relative;
}

.summary-transport-type summary {
	border: 1px solid var(--color-black);
	border-radius: 4px;
	padding: 0.5rem;

	font-weight: bold;
	cursor: pointer;
}
.summary-transport-type[open] summary {
	border-radius: 4px 4px 0 0;
}

.summary-transport-type > div {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	padding: 0.5rem;
	border: 1px solid var(--color-black);
	border-top: none;
	border-radius: 0 0 4px 4px;
	display: none;

	background-color: var(--color-white);
}
.summary-transport-type[open] > div {
	display: block;
}

.list-transport-type {
	display: flex;
	flex-direction: column;
}