/* syntax : --type-name-use */

#root {
	--color-black:			#475d5b;
	--color-green:			#00473e;
	--color-grey:			#d9d9d9;
	--color-grey-hover:		#bfbfbf;
	--color-white:			#f2f7f5;
	--color-yellow:			#faae2b;
	--color-yellow-hover:	#f7a00c;

	--color-MB:				blue; /* a verifier */
}