.stops {
	padding: 1rem;
}

.stops h2 {
	color: var(--color-green);
	margin-top: 0;
}

.stops section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}


/* Media queries */

@media (width < 1920px) {
	.stops section {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (width < 1440px) {
	.stops section {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (width < 1024px) {
	.stops section {
		grid-template-columns: repeat(3, 1fr);
	}
}