.position-button {
    display: flex;
}

.position-button > button {
    margin: 10px;
}

.map-component {
    width: 95%;
    margin: auto;
}

.leaflet-container {
    width: 100%;
    height: 60vh;
    border-radius: 30px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}