.xml-card {
    display: flex;
    flex-direction: row;
}

.xml-card div {
    margin-right: 10px;
    margin-left: 10px;
}

.xml-file-name,
.xml-loader-button {
    width: 20%;
}

.xml-loader-message {
    width: 60%;
}

.alert {
    border-radius: 5px;
    position: relative;
    padding: 16px;
    margin: 16px;
}

.alert-success {
    color: #497048;
    background-color: #def0d8;
    border: 1px solid #75B798;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #DC7D85;
}

.alert-default {
    color: #4B7B90;
    background-color: #D9EDF5;
    border: 1px solid #6E9AC9;
}

.button-admin {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
}

.button-all-csv,
.button-fetch-file {
    margin-left: 20px;
    width: 400px;
}

.button-fetch-file {
    margin: 20px;
}

.button-9:disabled {
    cursor: default;
    background-color: #6E6D70;
    opacity: 1;
}

.button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}