.transports {
	padding: 1rem;
}

.transports div {
	margin: 1rem 0;
}

.transports div > div {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.transports summary {
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-bottom: 2px solid var(--color-green);

	color: var(--color-green);
	font-size: 1.2rem;
	cursor: pointer;
}

.transports h3 {
	display: inline;
	margin-top: 0;
}


/* Media queries */

@media (width < 1920px) {
	.transports div > div {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (width < 1440px) {
	.transports div > div {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (width < 1024px) {
	.transports div > div {
		grid-template-columns: repeat(3, 1fr);
	}
}