.velov-card article > div > span {
    display: block;
    font-size: 1rem;
}

.velov-card .title-card {
    font-size: 1.3rem;
    font-weight: bold;
}

.title-element {
    display: flex;
}

.title-element * {
    margin-right: 10px;
}

.velov-card .icon-availability {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.velov-card .background-0 {
    background: grey;
}

.velov-card .background-1 {
    background: green;
}

.velov-card .background-2 {
    background: orange;
}

.velov-card .background-3 {
    background: red;
}